{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <title>Cyberteam</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">




    <link href="http://fonts.googleapis.com/css?family=Roboto:400,500,700,300,100" rel="stylesheet">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <!--latest-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">-->
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">-->

    
    <!--<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>-->
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>-->
    <link href="{% static 'styles/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'styles/style.css' %}" rel="stylesheet">
    <link href="{% static 'style.css' %}" rel="stylesheet">
    <link href="{% static 'font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">

    
    <!----------->
    <style>
      .btn{
            background-color: orangered;
            color: white;
            border: none;
            text-decoration: none;font-family: Arial,sans-serif;
            font-size:18px;
            padding: 9px 10px;
             float:right;
    display:block;
    margin-right:0px;
    clear:left;

            }
            .par{
              color: white;
              text-align: center;
            }
            .para{
              text-decoration:none;font-family: Arial,sans-serif;
              color: white;
            }
            .dark{
  padding:15px;
  background:#35424a;
  color:#ffffff;
  margin-top:20px;
  margin-bottom:20px;

}
.btnn{
   background-color: orangered;
            color: white;
            border: none;
            text-decoration: none;font-family: Arial,sans-serif;
            font-size:18px;
            padding: 7px 22px;
             
    display:block;
    margin-right:0px;
    clear:left;
}
.inter{
  text-decoration:none;font-family: Arial,sans-serif;
              color: red;
}


.why{
 text-decoration:none;font-family: Arial,sans-serif;
              color: red; 
              text-shadow: 2px 2px #FF0000;
}
.abc{
  font-family: "Times New Roman", Times, serif;
}


.python{
  font-size: 20px;
}
.xyz{
  color: red;
  font-size: 13px;

}
.pqr{
  color: red;
  font-family: 13px;

}
.latest-news{
    background-color: #1A170F;
    color: white;
    font-size: 20px;
    padding: 7px;
    margin-top: 5px;
    animation: latest-news 2s infinite linear;
    overflow: hidden;
}
@keyframes latest-news {
    0%,50%,100%{background-color:#869173;}
    25%,75%{background-color: #1A170F}
}
.latest-news span{
    color: orange;
}
.latest-news p{
    margin: 0;
    animation: para 14s infinite linear;
}
@keyframes para {
    0%{transform: translateX(100%)}
    100%{transform: translateX(-100%)}
}

</style>

</head>
<body>


<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      
     <div id="top"><!--top starts-->
        <div class="container"><!--container starts-->
            <div class="col-md-6 offer"><!-- colmd6-->
                <a href="#" >
                   <i class="fa fa-envelope"></i>&nbsp&nbspquery@techienest.in &nbsp&nbsp</a> 
                </a>
                
                <a href="#">
                   <i class="fa fa-phone"></i> &nbsp call us on +91-7340033094</a>
                    
                </a>
                
            </div><!-- col-md-6 offer ends-->
            <div class="col-md-6"><!-- col-md-6 starts-->
                <ul class="menu"><!--menu starts-->
                  <li><!--li starts-->
                        <a href="#">
                             <i class="fa fa-home"></i> Home</a>
                        </a>
                    </li><!--li starts-->
                    <li><!--li starts-->
                        <a href="#">
                            <i class="fa fa-sign-in"></i> signup
                        </a>
                    </li><!--li starts-->
                    <li>
                        <a href="#">
                            <i class="fa fa-sign-out"></i> logout
                        </a>
                    </li>
                     <li>
                        <a href="#">
                             <i class="fa fa-envelope"></i> contact us
                        </a>
                    </li>
                   
                   
                    
                </ul><!--menu end-->
                
            </div><!-- col-md-6 ends-->
            
        </div><!--container ends-->
        
    </div><!--top ends-->



    <div class="navbar navbar-default" id="navbar"><!--navbar navbar-default start-->
        <div class="container"><!--container starts-->
      
            <div class="navbar-header"><!--navbar-header starts-->
                <a class="navbar-brand home" href="#"><!--navbar navbar-brand home starts-->
                    <img src="{% static 'images/logo.png' %}" width="58px;" alt="cyber logo" class="hidden-xs">
                    <img src="{% static 'images/logo.png' %}"  width="58px;" alt="cyber logo" class="visible-xs">
                </a><!--navbar navbar-brand home ends-->
   
               

                
            </div><!--navbar-header ends-->
            <div class="navbar-collapse" id="navigation"><!--navbar-collapse starts-->
                <div class="padding-nav"><!--padding-nav starts-->
                    
                    
                </div><!--padding-nav Ends-->
                
               
                


                <div class="navbar-collapse collapse right"><!--navbar-collapse collapse right starts-->
                  
                </div><!--navbar-collapse collapse right ends-->

                <div class="collapse clearfix" id="search"><!--collapse clearfix starts-->
                    <form class="navbar-form" method="get" action="results.php"><!--navbar- form starts-->
                        <div class="input-group"><!--input- group starts-->
                            <input class="form-control" type="text" placeholder="Search" name="user_query" required>
                            <span class="input-group-btn"><!--input-group-btn starts-->
                            <button type= "submit" value="Search" name="search" class="btn btn-primary">
                                <i class="fa fa-search"></i>
                                
                            </button>
                            </span><!--input-group-btn ends-->
                        </div><!--input- group ends-->
                        
                    </form><!--navbar- form ends-->
                        
                </div><!--collapse clearfix starts-->
                
            </div><!--navbar-collapse ends-->


        </div><!--container ends-->
    
    </div><!--navbar navbar-default ends-->
    </div>
  </head>
    {% block body %}
    {% endblock %}
<div id="footer"><!--footer starts-->
  <div class="container"><!--container starts-->
    <div class="row"><!--row starts-->
      <div class="col-md-3 col-sm-6"><!--"col-md-3 col-sm-6" starts-->
        <h4 class="xyz">Cyberteam</h4>
        <p>"Transfroming engineering to cyberteam"</p>
        
        <hr>
        <h4>Find Us on Map</h4>
        <iframe  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d28840.073583475463!2d86.4559337461716!3d25.371008214180044!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39f1eee66aa3ebc7%3A0x1bcf4fdc391adc06!2sMunger%2C+Bihar+811201!5e0!3m2!1sen!2sin!4v1539762958295" width="50%" height="78" frameborder="0" style="border:0" allowfullscreen></iframe>
        <hr class="hidden-md hidden-lg hidden-sm">
      </div><!--"col-md-3 col-sm-6" ends-->

        <div class="col-md-3 col-sm-6"><!--"col-md-3 col-sm-6" starts-->
          <img src="{% static 'img/cyberteam.png' %}" style="width: 70px; height: 50px;"><br>
          <p class="pqr">Cyberteam Team is modern day game changer</p>
          
          <hr class="hidden-md hidden-lg">
        </div><!--"col-md-3 col-sm-6" ends-->
        <div class="col-md-3 col-sm-6"><!--col-md-3 col-sm-6 starts-->
          <h4>Where to find us</h4>
          <p><!--p starts-->
            <strong>Cyber Team.</strong>
            <br>Mogal bazar Munger 811201
            <br>Munger
            <br>+917991144316
            <br>shikharabhijeet1995@gmail.com
            <br><strong>Abhijeet shikhar</strong>
          </p><!--p ends-->
          <a href="#">Go to Contact us page</a>
          <hr class="hidden-md hidden-lg">
        </div><!--col-md-3 col-sm-6 Ends-->
        <div class="col-md-3 col-sm-6"><!--col-md-3 col-sm-6 starts-->  
          <h4>Get the news</h4>
          <p class="text-muted">
            Few hr left 
          </p>
          <form action="https://feedburner.google.com/fb/a/mailverify" method="post" target="popupwindow" onsubmit="window.open('https://feedburner.google.com/fb/a/mailverify?uri=FeedbulletinForshikharabhijeet1995', 'popupwindow', 'scrollbars=yes,width=550,height=520');return true"><!--form starts-->
            <div class="input-group"><!--input group starts-->
              <input type="text" class="form-control" name="email">
              <input type="hidden" name="loc" value="en_US"/>
              <span class="input-group-btn"><!--input-group-btn starts-->
                <input type="submit" value="subscribe" class="btn btn-default">
              </span><!--input-group-btn ends-->
            </div><!--input group ends-->
          </form><!--form ends-->
          <hr>
          <h4>Stay in touch</h4>
          <p class="social"><!--social starts-->
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-instagram"></i></a>
            <a href="#"><i class="fa fa-google-plus"></i></a>
            <a href="#"><i class="fa fa-envelope"></i></a>
          </p><!--social ends-->

        </div><!--col-md-3 col-sm-6 Ends-->

    </div><!--row ends-->
  </div><!--container ends-->
</div><!--footer ends-->

<div id="copyright"><!--copy right starts-->
  <div class="container"><!--container starts-->
    <div class="col-md-6"><!--col-md-6 starts-->
      <p class="pull-left">
        &nbsp &nbsp&nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp&copy;2018 cyberteam
      </p>
    </div><!--col-md-6 ends-->

    <div class="col-md-6"><!--col-md-6 starts-->
      <p class="pull-right">
        <a href="#">Made by Abhijeet Shikhar</a>
      </p>
    </div><!--col-md-6 ends-->
  </div><!--container ends-->
</div><!--copy right ends-->
 <!--<script src="vendor/jquery/jquery.min.js"></script>-->
    <!--<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>-->
<!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>-->
    <!--<script src="js/bootstrap.min.js"></script>-->
<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>-->
<!--<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>-->

    <!--<script src="js/jquery.min.js"></script>-->
    {% block body-block %}
    {% endblock %}

</body>
</html>